@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

:root {
  --font-poppins: "Poppins", sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  position: relative;
}

.btn-gradient {
  background: linear-gradient(
    175deg,
    rgba(242, 83, 83, 1) 0%,
    rgba(113, 9, 9, 1) 100%
  );
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.tooltip {
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.sub-link {
  display: none;
}

.main-link:hover > .sub-link {
  display: flex;
}

.marker:hover > .tooltip {
  opacity: 1;
}

.embla {
  overflow: hidden;
  height: 100%;
}
.embla__container {
  display: flex;
  height: 580px;
}
.embla__slide {
  /* flex: 0 0 35%; */
  height: 100%;
  min-width: 0;
}

.controls {
  display: flex;
  border: 1px solid #ccc;
  border-top: 0;
  padding: 10px;
}

.controls-right {
  margin-left: auto;
}

.state {
  margin: 10px 0;
  font-family: monospace;
}

.state-title {
  color: #999;
  text-transform: uppercase;
}
